.lindtCatuai {
  align-self: stretch;
  position: relative;
  font-size: 14px; /* --font-size-sm */
  font-weight: 500;
}
.shmvConstrutora, .departamento, .fone, .departamentoEngenharia {
  margin: 0;
  font-weight: 500;
}
.attGustavo, .engenharia, .fone11998140787Container, .span, .frameChild, .contato {
  margin: 0;
  color: #a6a6a6; /* --color-darkgray-100 */
}
.shmvConstrutoraAttContainer, .lindtCatuaiShoppingMariParent, .ineditaPeasMetalrgicasContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
}
.fone, .engenharia {
  font-family: Poppins; /* --font-poppins */
  color: #fff; /* --color-white for .fone and --color-darkgray-100 for .engenharia */
}
.detalhesDoOramento, .total, .condiesGeraisDe {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.detalhesDoOramentoParent, .nOramento20292023Parent, .ineditaPeasMetalrgicasAttParent, .oramentoParent, .condiesGeraisDeVendaParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.detalhesDoOramentoParent {
  gap: 15px 0;
  font-size: 14px; /* --font-size-sm */
}
.frameGroup, .frameParent, .lineParent, .orcamento, .subTotal {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  padding: 20px 0; /* --padding-xl */
  gap: 22px 0;
}
.frameParent {
  flex: 1;
  gap: 30px 0;
}
.a46Inner, .frameWrapper, .a46, .frameDiv, .orcamentogeral {
  display: flex;
  justify-content: flex-start;
}
.frameWrapper {
  width: 333px;
  background-color: #000; /* --color-black */
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: 80px 40px 0; /* --padding-61xl and 40px */
  box-sizing: border-box;
}
.frameItem, .subTotalChild, .frameChild1 {
  position: relative;
  border-top: 2px solid #a6a6a6; /* --color-darkgray-100 for .frameItem and .frameChild1 */
  box-sizing: border-box;
  height: 2px;
}
.r5750000, .total1, .frete, .r5000000 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.r5750000 {
  flex: 1;
  font-size: 13.3px; /* --font-size-sm-3 */
  text-align: right;
}
.totalParent, .subTotalParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header, .razoParent, .razoParent2 {
  display: flex;
  flex-direction: row;
}
.header {
  align-self: stretch;
  background-color: #e4e4e4;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 11px;
}
.formaDePagamento {
  position: relative;
  letter-spacing: 0.02em;
  width: 674px;
  display: inline-block;
}
.component1, .deepakparallelconnectcom, .wwwparallelconnectcom {
  position: absolute;
  top: 0;
  letter-spacing: 0.02em;
}
.deepakparallelconnectcom {
  left: 31.22%;
}
.wwwparallelconnectcom {
  left: 74.08%;
}
